<div id="page-wrapper">
  <div id="page">


  <!--Start: Branding and Menu -->
<div id="stick">
  <div class="menu">
    <div class="container">
      <div class="row">
        {% if page.header %}
          <div class="col-xs-6 col-md-4">
            {{ page.header }}
          </div>
        {% endif %}
        <!-- Navigation -->
        {% if page.menu %}
          <div class="col-xs-6 col-md-8">
            {{ page.menu }} 
          </div>
        {% endif %}
        <!--End Navigation -->
      </div>
    </div>
  </div>
</div>
      <!--- Start Messages -->
      {% if page.messages %}
        <div class="container">
          <div class="row">
              {{ page.messages }}
          </div>
        </div>
      {% endif %}
      <!---End Messages -->

        <div class="container">
            <div class="col-md-12"><h1>{{ page['#title'] }}</h1></div>
        </div>

        <div class="container">
          <div class="row contenido">
            <div class="col-md-8">{{ page.contactoa }}<br /><br /><br /></div>
            <div class="col-md-4">{{ page.contacto }}</div>
          </div>
        </div>

        <div class="container">
            <div class="col-md-12 map-responsive">
            <iframe width="800" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=-33.0145482%20-71.5476849&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>

<!--Start: Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ page.footera }}
        </div>
        <div class="col-md-12">
          <ul class="social">
            <li><a href="/panel" class="icon fa-cog"><span></span></a></li>
						<li><a href="https://gmx.cl" class="icon fa-check"><span></span></a></li>
					</ul>
        </div>
      </div>
    </div>
  </div>
<!--End: Footer -->

  </div>
</div>
